dis-business/dis-erp-wsclient/src/main/resources/wsdl/tango/DIS_WS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="disWSP" targetNamespace="http://dctradwms01.discovery.com/DcAIS.ws.provider.disWSP" 
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://dctradwms01.discovery.com/DcAIS.ws.provider.disWSP" 
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" 
xmlns:tns="http://dctradwms01.discovery.com/DcAIS.ws.provider:disWSP" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:HDR1="http://invoice.service.dis.discovery.com/" 
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
     <xsd:schema>
            <!--<xsd:import namespace="http://invoice.service.dis.discovery.com/"
                        schemaLocation="./Invoice.xsd"/>-->
            <xsd:import namespace="http://dctradwms01.discovery.com/DcAIS.ws.provider.disWSP"
                        schemaLocation="./DISWS.xsd"/>
      </xsd:schema>
  </wsdl:types>
  <wsdl:message name="disWSP_PortType_setCustomers">
    <wsdl:part name="parameters" element="tns1:setCustomers">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="disWSP_PortType_setInvoices">
    <wsdl:part name="parameters" element="tns1:setInvoices">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="disWSP_PortType_setInvoicesResponse">
    <wsdl:part name="parameters" element="tns1:setInvoicesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="disWSP_PortType_setCustomersResponse">
    <wsdl:part name="parameters" element="tns1:setCustomersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="disWSP_PortType">
    <wsdl:operation name="setInvoices">
      <wsdl:input message="tns1:disWSP_PortType_setInvoices">
    </wsdl:input>
      <wsdl:output message="tns1:disWSP_PortType_setInvoicesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCustomers">
      <wsdl:input message="tns1:disWSP_PortType_setCustomers">
    </wsdl:input>
      <wsdl:output message="tns1:disWSP_PortType_setCustomersResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DcAIS_ws_provider_disWSP_Binder" type="tns1:disWSP_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="setInvoices">
      <soap:operation soapAction="DcAIS_ws_provider_disWSP_Binder_setInvoices" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCustomers">
      <soap:operation soapAction="DcAIS_ws_provider_disWSP_Binder_setCustomers" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DcAIS.ws.provider.disWSP">
    <wsdl:port name="DcAIS_ws_provider_disWSP_Port" binding="tns1:DcAIS_ws_provider_disWSP_Binder">
      <soap:address location="http://dctradwms01.discovery.com:35555/ws/DcAIS.ws.provider.disWSP/DcAIS_ws_provider_disWSP_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>