dis-business/dis-erp-wsclient/src/main/resources/wsdl/tango/Invoice.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://invoice.service.dis.discovery.com/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://invoice.service.dis.discovery.com/">
			<xsd:element name="setInvoices" type="ns0:setInvoices" />
			<xsd:element name="setInvoicesResponse" type="ns0:setInvoicesResponse" />
			<xsd:complexType name="setInvoices">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="arg0" type="ns0:invoice" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="invoice">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="baseCurrency" type="ns0:currency" />
					<xsd:element minOccurs="0" name="baseGrossAmount" type="xsd:decimal" />
					<xsd:element minOccurs="0" name="baseNetAmount" type="xsd:decimal" />
					<xsd:element minOccurs="0" name="baseVatAmount" type="xsd:decimal" />
					<xsd:element minOccurs="0" name="billingScenario" type="ns0:billingScenario" />
					<xsd:element minOccurs="0" name="company" type="ns0:company" />
					<xsd:element minOccurs="0" name="customerErpReference"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="advertiser" type="xsd:string" />
					<xsd:element minOccurs="0" name="description" type="xsd:string" />
					<xsd:element minOccurs="0" name="dueDate" type="xsd:dateTime" />
					<xsd:element minOccurs="0" name="exchangeRate" type="xsd:decimal" />
					<xsd:element minOccurs="0" name="externalNote" type="xsd:string" />
					<xsd:element minOccurs="0" name="insertionOrder" type="xsd:string" />
					<xsd:element minOccurs="0" name="internalNote" type="xsd:string" />
					<xsd:element minOccurs="0" name="invoiceDate" type="xsd:dateTime" />
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="invoiceLines" nillable="true" type="ns0:invoiceLine" />
					<xsd:element minOccurs="0" name="invoiceNumber" type="xsd:string" />
					<xsd:element minOccurs="0" name="ConsumedPrebillID" type="xsd:string" />
					<xsd:element minOccurs="0" name="termsOfSale" type="xsd:string" />
					<xsd:element minOccurs="0" name="invoiceParent" type="ns0:invoice" />
					<xsd:element minOccurs="0" name="invoiceType" type="ns0:invoiceType" />
					<xsd:element minOccurs="0" name="issueDate" type="xsd:dateTime" />
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="journals"
						nillable="true" type="ns0:journal" />
					<xsd:element name="prebill" type="xsd:boolean" />
					<xsd:element minOccurs="0" name="purchaseOrder" type="xsd:string" />
					<xsd:element minOccurs="0" name="salesChannelCallSign"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="serviceReceivedType"
						type="ns0:serviceReceivedType" />
					<xsd:element minOccurs="0" name="status" type="ns0:invoice_STATUS" />
					<xsd:element minOccurs="0" name="transactionCurrency"
						type="ns0:currency" />
					<xsd:element minOccurs="0" name="transactionGrossAmount"
						type="xsd:decimal" />
					<xsd:element minOccurs="0" name="transactionNetAmount"
						type="xsd:decimal" />
					<xsd:element minOccurs="0" name="transactionVatAmount"
						type="xsd:decimal" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="currency">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="iso3Code" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="billingScenario">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="company" type="ns0:company" />
					<xsd:element minOccurs="0" name="number" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="company">
				<xsd:sequence>
					<xsd:element name="active" type="xsd:boolean" />
					<xsd:element minOccurs="0" name="code" type="xsd:string" />
					<xsd:element minOccurs="0" name="country" type="ns0:country" />
					<xsd:element minOccurs="0" name="currency" type="ns0:currency" />
					<xsd:element minOccurs="0" name="description" type="xsd:string" />
					<xsd:element minOccurs="0" name="erpType" type="ns0:erpType" />
					<xsd:element minOccurs="0" name="taxID" type="xsd:string" />
					<xsd:element minOccurs="0" name="taxStatus" type="ns0:taxStatus" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="country">
				<xsd:sequence>
					<xsd:element name="EUMember" type="xsd:boolean" />
					<xsd:element minOccurs="0" name="TINFormatRegex" type="xsd:string" />
					<xsd:element minOccurs="0" name="TINFormatReplacement"
						type="xsd:string" />
					<xsd:element name="active" type="xsd:boolean" />
					<xsd:element minOccurs="0" name="isoAlpha2Code" type="xsd:string" />
					<xsd:element minOccurs="0" name="isoAlpha3Code" type="xsd:string" />
					<xsd:element minOccurs="0" name="isoNumericCode" type="xsd:string" />
					<xsd:element minOccurs="0" name="name" type="xsd:string" />
					<xsd:element minOccurs="0" name="vatPercentage" type="xsd:decimal" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="erpType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="code" type="xsd:string" />
					<xsd:element minOccurs="0" name="description" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="taxStatus">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="code" type="xsd:string" />
					<xsd:element minOccurs="0" name="description" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="invoiceLine">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="baseCurrency" type="ns0:currency" />
					<xsd:element minOccurs="0" name="baseGrossAmount" type="xsd:decimal" />
					<xsd:element minOccurs="0" name="baseNetAmount" type="xsd:decimal" />
					<xsd:element minOccurs="0" name="baseVatAmount" type="xsd:decimal" />
					<xsd:element minOccurs="0" name="itemCode" type="xsd:string" />
					<xsd:element minOccurs="0" name="itemDescription" type="xsd:string" />
					<xsd:element minOccurs="0" name="lineNumber" type="xsd:int" />
					<xsd:element minOccurs="0" name="quantity" type="xsd:long" />
					<xsd:element minOccurs="0" name="transactionCurrency"
						type="ns0:currency" />
					<xsd:element minOccurs="0" name="transactionGrossAmount"
						type="xsd:decimal" />
					<xsd:element minOccurs="0" name="transactionVatAmount"
						type="xsd:decimal" />
					<xsd:element minOccurs="0" name="transactionNetAmount"
						type="xsd:decimal" />
					<xsd:element minOccurs="0" name="unitPrice" type="xsd:decimal" />
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="transmissionOrders" nillable="true" type="ns0:transmissionOrder" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="transmissionOrder">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="transmissionOrderId"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="billToTaxLegalName"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="agencyTaxLegalName"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="advertiserTaxLegalName"
						type="xsd:string" />
					<xsd:element minOccurs="0"
						name="salesRepresentativeTaxLegalName" type="xsd:string" />
					<xsd:element minOccurs="0" name="cpeCode" type="xsd:string" />
					<xsd:element minOccurs="0" name="orderReference" type="xsd:string" />
					<xsd:element minOccurs="0" name="campaignReference"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="invoiceType">
				<xsd:sequence>
					<xsd:element name="adjustment" type="xsd:boolean" />
					<xsd:element minOccurs="0" name="code" type="xsd:string" />
					<xsd:element minOccurs="0" name="company" type="ns0:company" />
					<xsd:element minOccurs="0" name="description" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="journal">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="baseCurrency" type="ns0:currency" />
					<xsd:element minOccurs="0" name="company" type="ns0:company" />
					<xsd:element minOccurs="0" name="description" type="xsd:string" />
					<xsd:element minOccurs="0" name="invoice" type="ns0:invoice" />
					<xsd:element minOccurs="0" name="journalDate" type="xsd:dateTime" />
					<xsd:element minOccurs="0" name="journalID" type="xsd:string" />
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="journalLines" nillable="true" type="ns0:journalLine" />
					<xsd:element minOccurs="0" name="serviceReceivedType"
						type="ns0:serviceReceivedType" />
					<xsd:element minOccurs="0" name="totalBaseCreditAmount"
						type="xsd:decimal" />
					<xsd:element minOccurs="0" name="totalBaseDebitAmount"
						type="xsd:decimal" />
					<xsd:element minOccurs="0" name="totalTransactionCreditAmount"
						type="xsd:decimal" />
					<xsd:element minOccurs="0" name="totalTransactionDebitAmount"
						type="xsd:decimal" />
					<xsd:element minOccurs="0" name="transactionCurrency"
						type="ns0:currency" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="journalLine">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="account" type="ns0:account" />
					<xsd:element minOccurs="0" name="baseAmount" type="xsd:decimal" />
					<xsd:element minOccurs="0" name="baseCurrency" type="ns0:currency" />
					<xsd:element minOccurs="0" name="description" type="xsd:string" />
					<xsd:element minOccurs="0" name="exchangeRate" type="xsd:decimal" />
					<xsd:element minOccurs="0" name="geography" type="ns0:geography" />
					<xsd:element minOccurs="0" name="lineNumber" type="xsd:int" />
					<xsd:element minOccurs="0" name="platform" type="ns0:platform" />
					<xsd:element minOccurs="0" name="profitCenter" type="ns0:profitCenter" />
					<xsd:element minOccurs="0" name="transactionAmount"
						type="xsd:decimal" />
					<xsd:element minOccurs="0" name="transactionCurrency"
						type="ns0:currency" />
					<xsd:element minOccurs="0" name="transactionType" type="ns0:transactionType" />
					<xsd:element minOccurs="0" name="type" type="ns0:entry_TYPE" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="account">
				<xsd:sequence>
					<xsd:element name="active" type="xsd:boolean" />
					<xsd:element minOccurs="0" name="company" type="ns0:company" />
					<xsd:element minOccurs="0" name="description" type="xsd:string" />
					<xsd:element minOccurs="0" name="number" type="xsd:string" />
					<xsd:element minOccurs="0" name="type" type="ns0:account_TYPE" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="account_TYPE">
				<xsd:restriction base="xsd:string">
					<xsd:whiteSpace value="preserve" />
					<xsd:enumeration value="EXPENSE" />
					<xsd:enumeration value="REVENUE" />
					<xsd:enumeration value="ASSET" />
					<xsd:enumeration value="LIABILITY" />
					<xsd:enumeration value="EQUITY" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="geography">
				<xsd:sequence>
					<xsd:element name="active" type="xsd:boolean" />
					<xsd:element minOccurs="0" name="code" type="xsd:string" />
					<xsd:element minOccurs="0" name="company" type="ns0:company" />
					<xsd:element minOccurs="0" name="description" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="platform">
				<xsd:sequence>
					<xsd:element name="active" type="xsd:boolean" />
					<xsd:element minOccurs="0" name="code" type="xsd:string" />
					<xsd:element minOccurs="0" name="company" type="ns0:company" />
					<xsd:element minOccurs="0" name="description" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="profitCenter">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="IBMSChannel" type="xsd:string" />
					<xsd:element name="active" type="xsd:boolean" />
					<xsd:element minOccurs="0" name="company" type="ns0:company" />
					<xsd:element minOccurs="0" name="costCenter" type="xsd:string" />
					<xsd:element minOccurs="0" name="description" type="xsd:string" />
					<xsd:element minOccurs="0" name="number" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="transactionType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="code" type="xsd:string" />
					<xsd:element minOccurs="0" name="description" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="entry_TYPE">
				<xsd:restriction base="xsd:string">
					<xsd:whiteSpace value="preserve" />
					<xsd:enumeration value="DEBIT" />
					<xsd:enumeration value="CREDIT" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="serviceReceivedType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="serviceType"
						type="ns0:service_RECEIVED_TYPE" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="service_RECEIVED_TYPE">
				<xsd:restriction base="xsd:string">
					<xsd:whiteSpace value="preserve" />
					<xsd:enumeration value="ON_AIR" />
					<xsd:enumeration value="DIGITAL" />
					<xsd:enumeration value="LICENSING" />
					<xsd:enumeration value="PRODUCTION" />
					<xsd:enumeration value="MISCELLANEOUS" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="invoice_STATUS">
				<xsd:restriction base="xsd:string">
					<xsd:whiteSpace value="preserve" />
					<xsd:enumeration value="CREATED" />
					<xsd:enumeration value="EDITED" />
					<xsd:enumeration value="PENDING_APP" />
					<xsd:enumeration value="APPROVED" />
					<xsd:enumeration value="REFUSED" />
					<xsd:enumeration value="TRANSMITTED" />
					<xsd:enumeration value="POSTED" />
					<xsd:enumeration value="DELAYED" />
					<xsd:enumeration value="DELETED" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="setInvoicesResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="return" type="ns0:response" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="response">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="errorCode" type="ns0:errorCode" />
					<xsd:element minOccurs="0" name="errorMessage" type="xsd:string" />
					<xsd:element minOccurs="0" name="errorSource" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="errorCode">
				<xsd:restriction base="xsd:string">
					<xsd:whiteSpace value="preserve" />
					<xsd:enumeration value="SUCCESS" />
					<xsd:enumeration value="FAILURE" />
					<xsd:enumeration value="ERROR" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema> 