dis-business/dis-integration/src/test/resources/xml/sample/xsd/ACTION INVOICE CFDI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by SAT (SAT) -->
<xs:schema xmlns:cfdi="http://www.sat.gob.mx/cfd/3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.sat.gob.mx/cfd/3" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xs:element name="Comprobante">
		<xs:annotation>
			<xs:documentation>Estándar de Comprobante fiscal digital a través de
				Internet.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Emisor">
					<xs:annotation>
						<xs:documentation>Nodo requerido para la validación de la
							estructura.
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DomicilioFiscal" type="cfdi:t_UbicacionFiscal" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Nodo requerido, deberá de ir vacío.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ExpedidoEn" type="cfdi:t_Ubicacion"
								minOccurs="0">
								<xs:annotation>
									<xs:documentation>Nodo requerido, deberá de ir vacío.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="RegimenFiscal" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Nodo requerido, deberá de ir vacío.
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Regimen" use="required">
										<xs:annotation>
											<xs:documentation>Nodo requerido, deberá de ir vacío.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="0" />
												<xs:whiteSpace value="collapse" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="rfc" use="required">
							<xs:annotation>
								<xs:documentation>Nodo requerido, deberá de ir vacío.
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="nombre">
							<xs:annotation>
								<xs:documentation>Nodo requerido, deberá de ir vacío.
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="0" />
									<xs:whiteSpace value="collapse" />
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Receptor">
					<xs:annotation>
						<xs:documentation>Nodo requerido para la validación de la
							estructura.
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Domicilio" type="cfdi:t_Ubicacion"
								minOccurs="0">
								<xs:annotation>
									<xs:documentation>Nodo requerido, deberá de ir vacío.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="rfc" type="cfdi:t_RFC" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para precisar el Numeró de
									cliente concatenando con la moneda, el cual debera de ser
									correspondiente al número del cliente de Sage 300 ERP.
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="nombre" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo requerido para precisar el Nombre de
									cliente correspondiente al Nombre del cliente de Sage 300 ERP.
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="0" />
									<xs:whiteSpace value="collapse" />
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Conceptos">
					<xs:annotation>
						<xs:documentation>Nodo requerido para enlistar los conceptos
							cubiertos por el comprobante.
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Concepto" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Nodo para introducir la información detallada
										de un bien o servicio amparado en el comprobante.
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<!-- OptfieldDetalle -->
										<xs:any minOccurs="0" maxOccurs="unbounded" />
									</xs:sequence>
									<xs:attribute name="cantidad" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido con valor prefijado a 1.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:whiteSpace value="collapse" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="unidad" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido con valor prefijado a NO
												APLICA.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:whiteSpace value="collapse" />
												<xs:minLength value="0" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="noIdentificacion" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido, aqui se coloca el
												numero de articulo el cual coresponde a Sage 300 ERP y del
												IBMS al campo Sales channel call sign.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="0" />
												<xs:whiteSpace value="collapse" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="descripcion" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para precisar la
												descripción del articulo.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="0" />
												<xs:whiteSpace value="collapse" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="valorUnitario" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para precisar el valor o
												precio unitario del articulo.
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="importe" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para precisar el importe
												total del articulo. Debe ser equivalente al resultado de
												multiplicar la cantidad por el valor unitario expresado en
												el concepto.
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Impuestos">
					<xs:annotation>
						<xs:documentation>Nodo requerido para la validación de la
							estructura.
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Traslados" minOccurs="0" >
								<xs:annotation>
									<xs:documentation>Nodo requerido, deberá de ir vacío.
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Traslado" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Nodo requerido, deberá de ir vacío.
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="impuesto" use="required">
													<xs:annotation>
														<xs:documentation>Atributo requerido, deberá de ir vacío
														</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:whiteSpace value="collapse" />
															<xs:enumeration value="">
																<xs:annotation>
																	<xs:documentation>Impuesto</xs:documentation>
																</xs:annotation>
															</xs:enumeration>
															<xs:enumeration value="IVA">
																<xs:annotation>
																	<xs:documentation>Impuesto al Valor Agregado
																	</xs:documentation>
																</xs:annotation>
															</xs:enumeration>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="tasa" use="required">
													<xs:annotation>
														<xs:documentation>Atributo requerido, deberá de ir vacío.
														</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="importe" use="required">
													<xs:annotation>
														<xs:documentation>Atributo requerido, deberá de ir vacío.
														</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="totalImpuestosTrasladados" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido con valor prefijado a 0.00
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Complemento" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nodo opcional donde se incluirá el complemento
							Timbre Fiscal Digital de manera obligatoria y los nodos
							complementarios determinados por el SAT, de acuerdo a las
							disposiciones particulares a un sector o actividad específica.
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:any minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<!-- OPTFIELD -->
				<xs:any namespace="" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="version" use="required" fixed="3.2">
				<xs:annotation>
					<xs:documentation>Atributo requerido con valor prefijado a 3.2.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="serie" use="required">
				<xs:annotation>
					<xs:documentation>Atributo requerido, el cual se compone por la
						parte alfanumérica del número de factura, ejemplo No Factura
						M000000001 - M y esta debe de coincidir con la serie de la factura
						electrónica.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0" />
						<xs:maxLength value="3" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="folio">
				<xs:annotation>
					<xs:documentation>Atributo requerido, el cual se compone por la
						parte numerica del numero de factura, ejemplo No Factura
						M000000001 - 000000001.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0" />
						<xs:maxLength value="20" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="fecha" use="required" type="cfdi:date-or-dateTime">
				<xs:annotation>
					<xs:documentation>Atributo requerido para la expresión de la fecha
						del documento. Se expresa en la forma aaaa-mm-dd.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="sello" use="required">
				<xs:annotation>
					<xs:documentation>Atributo requerido, deberá de ir vacío.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="formaDePago" use="required">
				<xs:annotation>
					<xs:documentation>Atributo requerido, deberá de ir vacío.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="noCertificado" use="required">
				<xs:annotation>
					<xs:documentation> Atributo requerido, deberá de ir vacío.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0" />
						<xs:maxLength value="20" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="certificado" use="required">
				<xs:annotation>
					<xs:documentation>Atributo requerido, deberá de ir vacío.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="subTotal" use="required">
				<xs:annotation>
					<xs:documentation>Atributo requerido, deberá de ir vacío.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="descuento">
				<xs:annotation>
					<xs:documentation>Atributo requerido, deberá de ir vacío.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="motivoDescuento">
				<xs:annotation>
					<xs:documentation>Atributo requerido, deberá de ir vacío.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TipoCambio">
				<xs:annotation>
					<xs:documentation>Atributo requerido, deberá de ir vacío.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Moneda">
				<xs:annotation>
					<xs:documentation>Atributo requerido, aqui se coloca la moneda de
						la transacción.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="total" use="required">
				<xs:annotation>
					<xs:documentation>Atributo requerido para representar el total de
						la transacción.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="tipoDeComprobante" use="required">
				<xs:annotation>
					<xs:documentation>Atributo requerido para expresar el efecto del
						comprobante fiscal para el contribuyente emisor.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ingreso" />
						<xs:enumeration value="egreso" />
						<xs:enumeration value="traslado" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="metodoDePago" use="required">
				<xs:annotation>
					<xs:documentation>Atributo requerido, deberá de ir vacío.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="LugarExpedicion" use="required">
				<xs:annotation>
					<xs:documentation>Atributo requerido, deberá de ir vacío.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NumCtaPago">
				<xs:annotation>
					<xs:documentation>Atributo requerido, deberá de ir vacío.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="date-or-dateTime">
		<xs:union memberTypes="xs:dateTime xs:date" />
	</xs:simpleType>
	
	<xs:complexType name="t_Ubicacion">
		<xs:annotation>
			<xs:documentation>Tipo definido para expresar domicilios o
				direcciones</xs:documentation>
		</xs:annotation>
		<xs:attribute name="calle" use="optional">
			<xs:annotation>
				<xs:documentation>Este atributo opcional sirve para precisar la
					avenida, calle, camino o carretera donde se da la ubicación.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="noExterior" use="optional">
			<xs:annotation>
				<xs:documentation>Este atributo opcional sirve para expresar el
					número particular en donde se da la ubicación sobre una calle dada.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="noInterior" use="optional">
			<xs:annotation>
				<xs:documentation>Este atributo opcional sirve para expresar
					información adicional para especificar la ubicación cuando calle y
					número exterior (noExterior) no resulten suficientes para
					determinar la ubicación de forma precisa.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="colonia" use="optional">
			<xs:annotation>
				<xs:documentation>Este atributo opcional sirve para precisar la
					colonia en donde se da la ubicación cuando se desea ser más
					específico en casos de ubicaciones urbanas.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="localidad" use="optional">
			<xs:annotation>
				<xs:documentation>Atributo opcional que sirve para precisar la
					ciudad o población donde se da la ubicación.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="referencia" use="optional">
			<xs:annotation>
				<xs:documentation>Atributo opcional para expresar una referencia de
					ubicación adicional.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="municipio" use="optional">
			<xs:annotation>
				<xs:documentation>Atributo opcional que sirve para precisar el
					municipio o delegación (en el caso del Distrito Federal) en donde
					se da la ubicación.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="estado" use="optional">
			<xs:annotation>
				<xs:documentation>Atributo opcional que sirve para precisar el
					estado o entidad federativa donde se da la ubicación.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="pais" use="required">
			<xs:annotation>
				<xs:documentation>Atributo requerido que sirve para precisar el país
					donde se da la ubicación.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="codigoPostal" use="optional">
			<xs:annotation>
				<xs:documentation>Atributo opcional que sirve para asentar el código
					postal en donde se da la ubicación.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="t_UbicacionFiscal">
		<xs:annotation>
			<xs:documentation>Tipo definido para expresar domicilios o
				direcciones</xs:documentation>
		</xs:annotation>
		<xs:attribute name="calle" use="required">
			<xs:annotation>
				<xs:documentation>Este atributo requerido sirve para precisar la
					avenida, calle, camino o carretera donde se da la ubicación.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="noExterior" use="optional">
			<xs:annotation>
				<xs:documentation>Este atributo opcional sirve para expresar el
					número particular en donde se da la ubicación sobre una calle dada.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="noInterior" use="optional">
			<xs:annotation>
				<xs:documentation>Este atributo opcional sirve para expresar
					información adicional para especificar la ubicación cuando calle y
					número exterior (noExterior) no resulten suficientes para
					determinar la ubicación de forma precisa.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="colonia" use="optional">
			<xs:annotation>
				<xs:documentation>Este atributo opcional sirve para precisar la
					colonia en donde se da la ubicación cuando se desea ser más
					específico en casos de ubicaciones urbanas.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="localidad" use="optional">
			<xs:annotation>
				<xs:documentation>Atributo opcional que sirve para precisar la
					ciudad o población donde se da la ubicación.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="referencia" use="optional">
			<xs:annotation>
				<xs:documentation>Atributo opcional para expresar una referencia de
					ubicación adicional.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:whiteSpace value="collapse" />
					<xs:minLength value="0" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="municipio" use="required">
			<xs:annotation>
				<xs:documentation>Atributo requerido que sirve para precisar el
					municipio o delegación (en el caso del Distrito Federal) en donde
					se da la ubicación.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="estado" use="required">
			<xs:annotation>
				<xs:documentation>Atributo requerido que sirve para precisar el
					estado o entidad federativa donde se da la ubicación.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="pais" use="required">
			<xs:annotation>
				<xs:documentation>Atributo requerido que sirve para precisar el país
					donde se da la ubicación.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="codigoPostal" use="required">
			<xs:annotation>
				<xs:documentation>Atributo requerido que sirve para asentar el
					código postal en donde se da la ubicación.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:whiteSpace value="collapse" />
					<xs:length value="5" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:simpleType name="t_RFC">
		<xs:annotation>
			<xs:documentation>Tipo definido para expresar claves del Registro
				Federal de Contribuyentes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="12" />
			<xs:maxLength value="13" />
			<xs:whiteSpace value="collapse" />
			<xs:pattern
				value="[A-Z,Ñ,&amp;]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z,0-9]?[A-Z,0-9]?[0-9,A-Z]?" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
