dis-business/dis-erp-wsclient/src/main/resources/wsdl/msdynamics/responseMSDynamics.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xs:element name="Mensaje">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="Respuesta" />
				<xs:element type="xs:anyType" name="DescripcionError" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</schema>
